@tailwind base;@tailwind components;@tailwind utilities;body{font-family:Lato,sans-serif;background-color:hsl(var(--background));color:hsl(var(--foreground));-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}header{padding:.5rem 0}@media (max-width:768px){nav{flex-direction:column;gap:.5rem}}.brevo-newsletter iframe{min-height:630px!important}@media (max-width:1024px){.grid-cols-ipad{grid-template-columns:1fr!important}}html{scroll-behavior:smooth}.brevo-frame-popup{max-width:90%}.click-boat-iframe{height:620px!important}.eaglerider{height:300px!important}@media (max-width:979px){.eaglerider{height:530px!important}}@media all and (min-width:1025px) and (max-height:1199px){.eaglerider{height:430px!important}}@media screen and (min-width:768px) and (max-width:1024px){.eaglerider{height:530px!important}}div .prose :where(ul > li):not(
:where([class~=not-prose],[class~=not-prose] *)
)::marker{color:var(--tw-prose-code)}.blog-article a {
  text-decoration: none;
}
.blog-article a:hover {
  text-decoration: underline;
}
.blog-article .underlinelink a {  text-decoration: underline;}
.blog-article .underlinelink a:hover {  text-decoration: none;}
.vechuraLogo img {  height: 30px;  width: auto;}
.affiliate-logos a {
  height: 74px;
  padding: 0 1rem;
}
.affiliate-logos a .riderslogo {
  height: 66px;
}

.affiliate-logos a .lvcexotic {
  height: 66px;
}
