@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Lato, sans-serif;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
